<div class="lg:hidden" id="mobile-menu">
  <div class="px-2 pt-2 pb-3 space-y-1">
    <%= render 'layouts/navbar/mobile_links' %>    
  </div>
  <div class="pt-4 pb-3 border-t border-gray-700">
    <div class="mt-3 px-2 space-y-1">
      <%= link_to 'Sign In', new_user_session_path, class: mobile_link_class?(new_user_session_path) %>
      <%= link_to 'Sign Up', new_user_registration_path, class: mobile_link_class?(new_user_registration_path) %>
    </div>
  </div>
</div>